<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.title}}{% endif %}</title>

    <meta name="title" content="{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.title}}{% endif %}">
    <meta name="author" content="{{ site.author }}" />
    <meta name="copyright" content="&copy; {{ build.timestamp | format("yyyy") }}, All Rights Reserved." />
    <meta name="distribution" content="Global" />
    <meta name="description" content="{{ description or site.description }}">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    {# Open graph related #}
    <meta property="og:title" content="{{ title or site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url or site.url }}" />
    <meta property="og:image" content="{{ image or site.image }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="{{ name or site.title }}" />
    <meta property="og:description" content="{{ description or site.description }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ url or site.url }}">
    <meta name="twitter:title" content="{{ title or site.title }}">
    <meta name="twitter:description" content="{{ description or site.description }}">
    <meta name="twitter:image" content="{{ image or site.image }}">
    <meta name="twitter:site" content="@{{ site.username }}">
    <meta name="twitter:creator" content="@{{ site.username }}">

    <link rel="profile" href="http://microformats.org/profile/hcard" />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type" : "Person",
        "name" : "{{ site.author }}",
        "jobTitle": "{{ site.jobTitle }}",
        "email" : "{{ site.contact }}" 
      }
    </script>

    <link rel="apple-touch-icon" href="/assets/icon.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <meta name="theme-color" content="#fafafa">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="/assets/manifest.json">

    <link rel="stylesheet" href="{% webpack 'main.css' %}">
  </head>
  <body class="{{ bodyClass }}">
    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p><a href="{{ site.url }}">{% icon "github" %}colinmford</a> - <time datetime="{{ build.timestamp | formatISO }}">{{ build.timestamp | format("dd LLL yyyy") }}</time></p>
    </footer>
    <script async defer src="{% webpack 'main.js' %}"></script>

    {# Global site tag (gtag.js) - Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P0F0Y2NSCQ"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-P0F0Y2NSCQ'); </script>
  </body>
</html>
