{% extends "./templates/_base.njk" %}

{% block headContent %}
  {% include "./partials/_social.njk" %}
  {% include "./partials/_schema.njk" %}
{% endblock %}

{% block mainContent %}
    <main>
      {{ content | safe }}
    </main>

    <script async defer src="{% webpack 'main.js' %}"></script>
{% endblock %}