<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.title or site.name}}{% endif %}</title>
    
    <meta name="title" content="{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.title or site.name}}{% endif %}">
    <meta name="author" content="{{ site.author }}" />
    <meta name="copyright" content="&copy; {{ build.timestamp | format("yyyy") }}, All Rights Reserved." />
    <meta name="distribution" content="Global" />
    <meta name="description" content="{{ description or site.description }}">
    <meta name="referrer" content="no-referrer-when-downgrade">

    {# Open graph related #}
    <meta property="og:title" content="{{ title or site.title or site.name }}" />
    <meta property="og:type" content="{{ type or site.type }}" />
    <meta property="og:url" content="{{ url or site.url }}" />
    <meta property="og:image" content="{{ image or site.image }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:site_name" content="{{ name or site.name }}" />
    <meta property="og:description" content="{{ description or site.description }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ url or site.url }}">
    <meta name="twitter:title" content="{{ title or site.title or site.name }}">
    <meta name="twitter:description" content="{{ description or site.description }}">
    <meta name="twitter:image" content="{{ image or site.image }}">
    <meta name="twitter:site" content="@{{ site.username }}">

    <link rel="profile" href="http://microformats.org/profile/hcard" />

    <script type="application/ld+json">
      { "@context": "http://schema.org", "@type" : "Person", "name" : "{{ site.author }}", "jobTitle": "{{ site.jobTitle }}", "email" : "{{ site.contact }}" }
    </script>

    <link rel="apple-touch-icon" href="/assets/icon.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <meta name="theme-color" content="#fafafa">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="manifest" href="/assets/manifest.json">

    <link rel="stylesheet" href="{% webpack 'normalize.css' %}">
    <link rel="stylesheet" href="{% webpack 'main.css' %}">
  </head>
  <body class="{{ bodyClass }}">
    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p><a href="{{ site.url }}">{% icon "github" %}colinmford</a> - <time datetime="{{ build.timestamp | formatISO }}">{{ build.timestamp | format("dd LLL yyyy") }}</time></p>
    </footer>
    <script async defer src="{% webpack 'main.js' %}"></script>
    
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date; ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script async defer src="https://www.google-analytics.com/analytics.js"></script>
  </body>
</html>