{% extends "./templates/_base.njk" %}

{% block headContent %}
  {% include "./partials/_social.njk" %}
  {% include "./partials/_schema.njk" %}
{% endblock %}

{% block mainContent %}

    <main>
      <div class="column left-column">
        <div id="bio" class="vcard h-card" itemscope itemtype="http://schema.org/Person">{{ content | safe }}</div>
      </div>
      <div class="column right-column">
        <div id="work">
          {# this is temp, to be made with javascript, or 11ty? #}
          <ul>
          {% for project in projects %}
            <li>
              <a class="work-entry">
                <span class="date">{{ project["year"] }}</span>
                <span class="foundry">{{ project["foundry"] }}</span>
                <span class="typeface">{{ project["name"] }}</span>
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

    </main>

    <script async defer src="{% webpack 'main.js' %}"></script>
{% endblock %}
