{% extends "./templates/_base.njk" %}

{% block headContent %}
  {% include "./partials/_social.njk" %}
  {% include "./partials/_schema.njk" %}
{% endblock %}

{% block mainContent %}

    <main>
      <div id="face"></div>
      <div>{{ content | safe }}</div>
    </main>

    <script async defer src="{% webpack 'main.js' %}"></script>
{% endblock %}
