<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% include "../partials/_meta.njk" %}

    {% block headContent %}
    {% endblock %} 

    <link rel="stylesheet" href="{% webpack 'main.css' %}">
  </head>
  <body class="{{ bodyClass }}">
    {% include "../partials/_nav.njk" %}
    
    {% block mainContent %}
    {% endblock %}

    {% include "../partials/_footer.njk" %}
  </body>
</html>
