    {# Schema, microformats #}
    <link rel="profile" href="http://microformats.org/profile/hcard" />
    <script data-schema="Person" type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "name": "{{ site.author }}",
            "jobTitle": "{{ site.jobTitle }}",
            "disambiguatingDescription": "{{ site.jobTitle }}",
            "image": "{{ site.image }}",
            "url": "{{ site.url }}",
            "address" : {
                "@type": "PostalAddress",
                "addressLocality": "{{ site.locality }}",
            },
            "hasOccupation": {
                "@type": "Occupation",
                "name": "{{ site.jobTitle }}",
            },
            "worksFor": {
                "@type": "Organization",
                "name": "Monotype"
            },
            "alumniOf": {
                "@type": "EducationalOrganization",
                "name": "Koninklijke Academie van Beeldende Kunsten"
            },
            "sameAs": [
                {% for platform, url in site.social %}
                    "{{ url }}",
                {% endfor %}
                "http://typemedia2011.com/colin"
            ] 
        }
    </script>
