---
layout: default
htmlClass: html
bodyClass: body
---
<pre>
                          ..::***:--*:.
                    ..:*-+##++#+++#+++#+---**::.
                   .*+####++---++----+++#+#+++#+:
                 .:*----****.::*******----+#++−+#:
                .:***:::.:*++×=&&%%%%&=×−++----+##-...
                .:*:.  :#÷%░▒▓▓▓▓▓▓▓▓▓▓▓▒▒@%=−+**##+*...
                :..  *−%░▒▒▒▒▒▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒░=#-+#-:..
               .:. .−%░▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒░&+++-:
              .:: :=░▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒░▒░÷+++.
              .: *%▒░▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒░░░÷++:
              .:-%░░░▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒░@=+--.
                ×░░░░░▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒░@÷+++*
               .÷@@░░░░▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒░░@÷#+++.
                −@░░░░░░░▒▒▓▓▓▓▓▓▓▓▓▓▒@@&&==&%@@%░░░%#+++:
                -==÷==÷÷×÷÷÷&=÷÷−++××++−++×÷=&&=#+++−=##+*
              ..:+×÷===÷−−#+#-*#++-.*−−+−−###+−×&+.#−=÷−#*
              ::*×&÷==÷+#++++--@▓▓&:−=−×&%====×−×=#&%&−#−+:
               .*+=÷+−&÷=&&=÷#-▒▒▓▒++░%%%%@@@@@@░×÷░@░@−&=+*
                .+&÷÷&%%%%&&%*÷▓▒▓▓░++░▓▒░░░░░▒▒%÷░▒░░@÷=&=#
                :#÷%░@@@@@@&#−▒▒▓▓▓▓▒×#÷@▒▒▒▒░%=&▒▒░░░░=×%░#
                 −&÷=&%%%=×++@░▒▓▓▓▓▒▓@×+÷×===%▒▓▒▒▒░░░=&&@+
                 #@@%===&&&=%▒▓▓▓▓▓▓▓▒▒▒%&&%░▓▓▓▒▒▒▒▒░▒=÷@░×
                 #@░░▒▒▓▓▒@%%÷×%@@@@÷+#×@▒▓░@░▒▒▒▒▒▒░░▒%×░@+
                 +@@░░▒▒░░░░%−+-+#++#++−−÷&%░░▒▒▒▒▒░░░░%−==.
                 #%@░░░░░@@&÷×#+×÷==÷÷+++++−×%@░▒▒▒░@%%÷+#:
                .+÷%@░░▒%−+−+++#−×&@&−+-#####+×=%%@%÷÷×−#-
                .+−×÷@@=×+++#+++×=%@@%@@@@%@%=−−−÷=÷−++##-.
                :-+#−××−+×=&&&&@░▒▓▓▓▓▓▓▓▓▓▓▒&+##−−+#++++*
                .*-++#+−×÷÷@▒░░▒░░░░▒▒▒▒▒▒▒▒░&+####+++--*.
                 .**-++##++÷@@@@@@@@@@░▒▒▒▒▒%÷++++++--**:
                  :***-----#÷%%&%@░▒▒▒▒▒▒▒░@×#+---***:*:
                   :*:**:*--#×÷÷%@░▓▓▓▒@%&÷−++--*****:*:
                    ::::::**-+#−−×&@▒░@&÷+##+-**::*:::--
                    .:.:::**-+###−−×÷=÷−+#+---***::::+=# .
                     +#*::***+-*###+#+##--***--*:::*+@▒×
                    :&@×-:***-**---*++--::*:*::.:.*×%░▒░×:
                 ..+%░░%=+:..:::::****::...::...:#÷@▒▒▒▓▓−::..
           ....::::&▓░▒░@&×+*:. ..:..:::..   .:-×%░▒▒▓▓▒−:******:...
    ......:::*:::::*=▓▓▒▒░@%÷−#-.... .:.::::-#−=@░▒▓▓▒=-.:::***-*-****::...
::::*-*..::...:::....+@▓▓▒░░░%&=×−++####++−÷÷&@▒▓▓▒%−*..:::*::*****:*++-***--*::
***--*........:::.... :−@▓▓▓▒▒░@@%&&&&=&&&%@@▒▓░=+*. .:::::::::*****::-+-***-##+
**--*:..::............. .#=@▓▓▓▓▒▒░░▒▒▒▒▒▒▓▓▓%#:  .::::::..::::******::*+-****--
*--:...:::...............  .+&▒▓▓▓▓▓▓▓▓▓▓▓▓@#  ..::::::...:::::*******::*--***::
**:...::::::................  :++#−÷&=×−+#+. .......:....::::::*******:::*--****
:...:::::::....................            ..............:::::::::******::*---**
::::::::::........:..............................::......::::::*********:::*--**
::::::::::...............................................:::::::*********:::****
:::::::::::.....................................:.......::::::::****::*****::***
::::::::::........:............................:::......::::::::****:::****:::**
</pre>
