@use 'sass:math';

// Spot Mono Grid
// 600u wide, 1000upm
// (15pt * 600) / 1000 = 9pt wide grid
$grid_size: 0.6rem;

/* Settings */
:root {
    --offset: $grid_size;
    --columns: 6;
    --gutter: 0rem;
    --baseline: 1rem;
    --baseline-shift: 0;
    // --baseline-shift: calc(var(--baseline) / 2);
    --line-thickness: 1px;
    --color: #1c2c42;
    --color-text: #fff;
    --media-query: 'base';
  }

  @for $i from 40 through 240 {
    @media (min-width: #{$i * $grid_size}) {
      :root {
      --columns: #{$i};
      --media-query: '#{$i}';
    }
  }
}


/* Helper variables */
:root {
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(
    to right,
    var(--color),
    var(--color) var(--line-thickness),
    transparent var(--line-thickness),
    transparent calc(var(--column-width) - var(--line-thickness)),
    var(--color) calc(var(--column-width) - var(--line-thickness)),
    var(--color) var(--column-width),
    transparent var(--column-width),
    transparent var(--repeating-width)
  );
  --background-baseline: repeating-linear-gradient(
    to bottom,
    var(--color),
    var(--color) 1px,
    transparent 1px,
    transparent var(--baseline)
  );
}

html {
  position: relative;
}

html::before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - (2 * var(--offset)));
  min-height: 100vh;
  content: '';
  background-image: var(--background-columns), var(--background-baseline);
  background-size: var(--background-width) 100%;
  background-position: 0 var(--baseline-shift);
  z-index: 1000;
  pointer-events: none;
}

html::after {
  content: var(--media-query);
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: var(--color-text);
}
